* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

header {
  align-items: center;
  justify-content: center;
  padding: 20px;
}

nav {
  display: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #00ff00;
  padding: 10px;
  justify-content: center;
}
