* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

body {
  background-color: #f1f1f1;
}

.header {
  background-color: #fff;
  width: 100vw;
}

.header .logo {
  text-align: center;
  margin: 0 auto;
}

nav {
  display: none;
}

main {
  margin: 0 auto;
}

button {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: .5em;
  margin: 5px 0px;
  border: 1px solid #333;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;

  background: #EEC643;
  /*background: #f1f1f1;*/


}

button:hover {
  /*darker*/
  background: #be9e35;
  /*lighter*/
  /*background: #f1d168;*/
}

button:disabled {
  /*darker*/
  background: #a28f51;
  cursor: not-allowed;
}

p {
  margin-bottom: 20px;
}

.standings-table ol {
  background-color: #00ff00;
  min-height: 480px;
  width: 400px;
}

.standings-table ol li {
  width: 100%;
  /*background-color: #ff0000;*/
  padding: 15px;
  border: 1px solid black;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
