* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
}

header {
  align-items: center;
  justify-content: center;
  padding: 20px;
}

nav {
  display: none;
}

main {
  padding: 20px;
}

button {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: .5em;
  margin: 5px 0px;
  border: 1px solid #333;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

button:hover {
  background-color: #f1f1f1;
}
