header {
  background-color: #10322B;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  background-color: #FEC52F;
  width: 50px;
  height: 50px;
}

.nav-icon {
  position: relative;
  background-color: #F1F1F1;
  width: 50px;
  height: 2px;
}

.nav-icon::before {
  content: "";
  position: absolute;
  background-color: #F1F1F1;
  width: 50px;
  height: 2px;
  margin-top: 15px;
}

.nav-icon::after {
  content: "";
  position: absolute;
  background-color: #F1F1F1;
  width: 50px;
  height: 2px;
  margin-top: -15px;
}

.nav-menu {
  display: none;
  background-color: black;
  width: 100%;
}

.nav-link {
  font-family: "Geared Slab Thin";
  font-size: 24px;
  color: #f1f1f1;
  text-transform: uppercase;
  padding: 10px;
  margin: 5px;
}

.nav-link:hover {
  color: #FEC52F;
}
