.container {
  width: 100vw;
}

.form-content {
  /*max-width: 1160px;*/
  margin: 0 auto;
}

.light {
  background-color: #f1f1f1;
}

.dark {
  background-color: #333;
}


h3 {
  color: #EEC643;
}

p {
  color: #f1f1f1;
}


.matchup-form {
width: 100%;
}


.matchup-form .teams {
  /*background: lightblue;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 15px;*/
}

.matchup-form .teams .vs {
  font-size: 48px;
  color: #f1f1f1;
  padding: 0 20px;
}

/*.matchup-form .teams select {
  border: none;
  background: #333;
  color: #EEC643;
  -webkit-appearance: none;
  appearance: none;
  padding: 20px;
  font-size: 29px;
  text-indent: 5px;
  text-align-last:center;
  text-transform: uppercase;
}*/

.matchup-form .teams input {
  border: none;
  background: #333;
  color: #EEC643;
  -webkit-appearance: none;
  padding: 20px;
  font-size: 42px;
  text-align: center;
  width: 70px;
  height: 90px;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
    appearance: none;

}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /*margin: 0;*/
    appearance: none;

}


.team {
  color: white;
  /*width: 400px;*/
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  /*background: blue;*/
}


.team .options li {
  color: white;
  /*background: pink;*/
}



.team .main {
  /*border: 1px solid red;*/
  color: #EEC643;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  font-size: 30px;
}

/*.team .main:last-child {
  justify-content: flex-end;
}*/


.team .main .dash {
  width: 40px;
  background: #EEC643;
  height: 2px;
  margin: 0px 19px 0 19px;
}

.team .options {
  position: absolute;
  top: -50%;
  left: 0;
  /*background: red;*/
  background: #EEC643;

  width: 100%;
  font-size: 25px;
  padding: 10px 0;
}

.team .options li {
  color: #333;
  padding: 3px 20px;
}

.team .options li:hover {
  background: #be9e35;
  color: #f1f1f1;
  /*width: calc(100% + 40px);*/
}





/*.home-team1 .select li:not(:first-of-type) {
  display: none;
}

.home-team1:hover .select li {
  display: block;
}*/
