/******************************
*** MATCHUP RECAP COMPONENT ***
******************************/

.matchup-form {
  width: 100%;
}

.matchup-form .teams {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.matchup-form .teams .vs {
  font-size: 48px;
  color: #f1f1f1;
  padding: 0 20px;
}
/* FOR NATIVE SELECT STYLING */
/*.matchup-form .teams select {
  border: none;
  background: #333;
  color: #EEC643;
  -webkit-appearance: none;
  appearance: none;
  padding: 20px;
  font-size: 29px;
  text-indent: 5px;
  text-align-last:center;
  text-transform: uppercase;
}*/

.matchup-form .teams input {
  border: none;
  background: #333;
  color: #EEC643;
  padding: 20px;
  font-size: 42px;
  text-align: center;
  width: 70px;
  height: 90px;
}

/* For Firefox */
.matchup-form .teams input[type='number'] {
    -moz-appearance:textfield;
    appearance: none;

}
/* Webkit browsers like Safari and Chrome */
.matchup-form .teams input[type=number]::-webkit-inner-spin-button,
.matchup-form .teams input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.team {
  color: white;
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.team .options li {
  color: white;
}

.team .main {
  color: #EEC643;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  font-size: 30px;
}

.team .main .dash {
  width: 40px;
  background: #EEC643;
  height: 2px;
  margin: 0px 19px 0 19px;
}

.team .options {
  position: absolute;
  top: -50%;
  left: 0;
  background: #EEC643;
  width: 100%;
  font-size: 25px;
  padding: 10px 0;
}

.team .options li {
  color: #333;
  padding: 3px 20px;
}

.team .options li:hover {
  background: #be9e35;
  color: #f1f1f1;
}

.mvp-lvp-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.gutter {
  width: 20px;
}

.mvp-lvp-container > label {
  width: 100%;
}

.mvp-lvp-container textarea {
  height: 150px;
}

.mr-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.mr-button-container button {
  margin-left: 20px;
  /*background: #EEC643;*/
}



/*******************************
*** STAGED MATCHUP COMPONENT ***
*******************************/


.staged-matchups {
  width: 100%;
  margin-top: 20px;
}

.staged-matchups ul {
  min-height: 68px;
  margin: 10px 0 20px;
}

.staged-matchups ul li {
  background: #f1f1f1;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  margin: 5px 0;
}

.staged-matchups ul li div {
  padding: 20px 40px;
}

.staged-matchups ul li .staged {
  width: 100%;
}

.staged-matchups .delete {
  background: #EEC643;
  position: relative;
}

.hoverRemove {
  position: absolute;
  left: 100px;
  top: 0;
  background: #EEC643;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.delete:hover .hoverRemove{
  left: -63px;
}


button {
  /*background: #EEC643;*/
}
