.logo {
  width: 500px;
}



/*
--------------------------------------------------
ARTICLE COMPONENT STYLES
--------------------------------------------------
*/

.article-wrapper {
  max-width: 960px;
  padding: 20px 0px;
  margin: 50px 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

/* --- Article Info --- */

.article-info, .article-post {
  padding: 10px;
}

.article-category {
  display: inline-block;
  margin-bottom: 20px;
}

.article-headline {
  margin-bottom: 10px;
}

.article-contributor {
  margin-bottom: 15px;
  border-bottom: 1px solid #afafaf;
  padding: 20px 0px;
}

.article-post button {
  margin: auto 0;
}



/*
--------------------------------------------------
ADMIN COMPONENT STYLES
--------------------------------------------------
*/

/* --- Admin Dashboard --- */

.admin-dashboard {
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
}

.admin-dashboard img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #EEC643;
}

.admin-dashboard span {
  margin: 0 10px;
}

.admin-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-settings .admin-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.admin-settings p {
  margin-top: 18px;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  text-align: center;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}




/* --- Admin Recap Form --- */

/* .admin-post {
  max-width: 960px;
  margin: 0px auto;
  padding: 20px 0px;
} */

/*.admin-article-image img {
  width: 200px;
  height: 100px;
}*/
