.logo {
  width: 500px;
}

/*
--------------------------------------------------
ARTICLE COMPONENT STYLES
--------------------------------------------------
*/

.article-wrapper {
  max-width: 960px;
}

/* --- Article Info --- */

.article-info, .article-post {
  padding: 10px;
}

.article-category {
  display: inline-block;
  margin-bottom: 20px;
}

.article-headline {
  margin-bottom: 10px;
}

.article-contributor {
  margin-bottom: 15px;
  border-bottom: 1px solid #afafaf;
  padding: 20px 0px;
}

.article-post button {
  margin: auto 0;
}
