/*******************************
******** MODAL COMPONENT *******
*******************************/



.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  /*display: none;*/                /*display none being set and changed inside header Component*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal {
  /*position: absolute;*/
  background: #f1f1f1;
  padding: 20px;
  /*max-width: 400px;*/
  display: flex;
  flex-direction: column;
}

.modal button {
  margin-top: 20px;
  text-align: center;
}


.modal-anim-enter {
    opacity: 0.00;
    /*transform: scale(0.7);*/
    transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    /*transform: scale(1);*/
}

.modal-anim-leave {
    opacity: 1;
    /*transform: scale(1);*/
    transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    /*transform: scale(0.7);*/
}
